* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.div-ul {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(240, 239, 239, 0.961);
  /* @media (max-width: 600px) {
    justify-content: center;
    flex-direction: column;
  } */
}

/* ul li a {
  color: ${styles.headFontColor};
  text-decoration: none;
  font-size: 15px;
  font-family: sans-serif;
}
ul li a:hover {
  color: white;
} */

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  /* 
  position: relative;
  margin-top: 2em;
   */
}

li {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding-left: 15px;
}

li {
  /* list-style: none;
  /* border: 2px solid #dfdfdf; */
  /* width: 100%; */
  /* min-height: 4em;
  clear: both;
  font-size: 15px;
  line-height: 1.5em !important;
  margin: 5px auto;
  padding: 15px 20px 25px;
  box-shadow: rgba(57, 70, 61, 0.95), 5px, 20px, 25px, 5px; */
}

/* .remove {
  display: inline-block;
  float: right;
  width: 15px;
  height: 15px;
} */

/* #signin {
  margin: auto;
  width: 25%;
  padding-top: 5%;
  text-align: center;
  background-color: #d3d3d3;
  border: 1px solid black;
} */

/* #submit-button {
  margin-bottom: 10px;
} */

/* input {
  margin-bottom: 10px;
} */

/* #create {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 3%;
} */

/* 
#container {
  position: relative;
  margin: 2em auto;
  width: 800px;
  max-width: 80%;
} */

/* #save {
  background-color: #4c50af;
  max-width: 20%;
  transition: all 0.3s ease-in-out;
}
#save:hover {
  cursor: pointer;
  border: 1px solid rgba(21, 83, 175, 0.25);
  box-shadow: rgba(41, 149, 216, 0.35) 10px 25px 35px 10px;
  transform: translate3d(1px, -5px, 0px);
} */

/* .row input {
  width: 80%;
} */

/* button {
  background-color: #4caf50; 
  border: none;
  color: white;
  padding: 0.5em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  width: 20%;
  transition: all 0.3s ease-in-out;
}
button:hover {
  cursor: pointer;
  box-shadow: rgba(10, 150, 50, 0.25) 5px 10px 20px 5px;
  transform: translate3d(0px, -5px, 0px);
} */

/* input {
  padding: 8px;
}

#desc {
  list-style: none;
  border: 1px solid #dfdfdf;
  width: 100%;
  min-height: 4em;
  clear: both;
  font-size: 15px;
  line-height: 1.5em !important;
  margin: 5px auto;
  padding: 25px 20px 40px;
} */
