* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  text-align: center;
}

.div-ul {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  background: rgba(240, 239, 239, 0.961);
  /* @media (max-width: 600px) {
    justify-content: center;
    flex-direction: column;
  } */
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  list-style: none;
  font-size: 18px;
}

input {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 22px;
  padding: 6px;
  margin: 10px auto;
  width: 25%;
}
.button {
  padding: 15px;
  margin: 0;
  background-color: #1c8cd2;
  /* border: none; */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

table {
  display: inline-block;
  align-items: center;
}

th {
  /* border: 1px solid black; */
  padding: 12px;
  font-size: 20px;
}
td {
  padding: 12px;
  font-size: 16px;
  padding: 12px;
  height: auto;
  border-radius: 5px;
  border: 1px solid grey;
  transition: all 0.3s ease-in-out;
}
td:hover {
  cursor: pointer;
  box-shadow: rgba(63, 132, 186, 0.25) 5px 8px 15px 5px;
  transform: translate3d(0px, -2.5px, 0px);
}

/*
ul li a:hover {
  color: white;
} */

/* .remove {
  display: inline-block;
  float: right;
  width: 15px;
  height: 15px;
} */

/* 
#container {
  position: relative;
  margin: 2em auto;
  width: 800px;
  max-width: 80%;
} */

/* button {
  background-color: #4caf50; 
  border: none;
  color: white;
  padding: 0.5em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  width: 20%;
  transition: all 0.3s ease-in-out;
}
button:hover {
  cursor: pointer;
  box-shadow: rgba(10, 150, 50, 0.25) 5px 10px 20px 5px;
  transform: translate3d(0px, -5px, 0px);
} */

/*
#desc {
  list-style: none;
  border: 1px solid #dfdfdf;
  width: 100%;
  min-height: 4em;
  clear: both;
  font-size: 15px;
  line-height: 1.5em !important;
  margin: 5px auto;
  padding: 25px 20px 40px;
} */
